*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    width: 100%;
    min-width: 300px;
    height: 100vh;
    background: url(./medias/img/background/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#homePage{
    background: rgb(145,187,229);
    background-size: cover;
    background-repeat: no-repeat;
}

.home-view{
    position: relative;
    background: url(./medias/img/background/mat-de-cocagne-complet.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    max-width: 700px;
}

h1{
    letter-spacing: .2em;
    font-size: x-large;
    margin-top: 2em;
    color: aliceblue;
}
.item-player1, .item-player2{
    position: absolute;
    bottom: 0;
    width: 40px;
    animation: 3s infinite alternate jump;
}

.item-player1{
    right: 0;
    animation-delay: 1s;
}

.jetonPlayer1, .jetonPlayer2{
    border-radius: 50%;
    background: red;
    opacity: 0;
    padding: 2px 10px;
    margin-left: 5px;
    transition: all ease-in-out .5s;
}

@keyframes jump {
    from{
        bottom: 0;
    }
    25%{
        bottom: 70%;
    }
    40%{
        bottom: 0;
    }
    50%{
        bottom: 50%;
    }
    60%{
        bottom: 0;
    }
    80%{
        bottom: 60%;
    }
    100%{
        bottom: 0%;
    }
}

#gameView{
    display: none;
    max-width: 700px;
    min-height: 770px;
}

header{
    background: rgb(145,187,229);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}
header h1{
    margin-top: 0;
    padding-top: 10px;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;
}

header ul li{
    list-style-type: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

header ul li:hover{
    color: blueviolet;
}

.game-anim{
    position: relative;
    background: url(./medias/img/background/mat-de-cocagne-complet.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
}
.game-anim::before{
    content: "";
    position: fixed;
    height: 75%;
    width: 50%;
    background: url(./medias/img/background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    filter: blur(50px);
    left: 70px;
}
.game-anim::after{
    content: "";
    position: fixed;
    height: 75%;
    width: 50%;
    background: url(./medias/img/background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    filter: blur(50px);
    right: 70px;
}
.board{
    justify-content: space-around;
    top: 100px;
    height: 200px;
}

.player1, .player2{
    position: absolute;
    bottom: -30px;
    width: 40px;
    transition: all ease-in-out .5s;
}
.player1{
    right: -25px;
}
.player2{
    left: -1px;
}

.footer{
    background: transparent;
}
.dice-container{
    height: 60px;
}
.dice-player{
    width: 60px;
    height: 60px;
    position: absolute;
}
.victory{
    position: absolute;
    top: 75%;
    right: 50%;
    transform: translate(25%);
    background: #3339;
    color: floralwhite;
    width: 300px;
    padding: 15px 10px;
    text-align: center;
    border-radius: 10px;
    
}
/* media queries  */

@media screen and (min-width: 450px) {
    .player2{
        left: -10px;
    }
}
@media screen and (min-width: 550px) {
    .player2{
        left: -20px;
    }
}


@media screen and (min-width: 650px) {
    .player1{
        right: -30px;
    }
    .player2{
        left: -25px;
    }
}
@media screen and (min-width: 700px) {
    #gameView{
        margin-left: auto;
        margin-right: auto;
    }
}
@media  screen and (max-height: 770px) {
    header h1{
        font-size: x-large !important;
        margin-bottom: .1em !important;
        line-height: normal !important;
    }
    header ul li{
      margin-top: 5px;
    }
    .dice-container{
        height: 30px !important;
    }
    .dice-player{
        height: 30px;
        width: 30px;
        padding-bottom: .1em !important;
    }
}