*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    background: floralwhite;
}
#homePage{
    background: rgb(145,187,229);
    background-size: cover;
    background-repeat: no-repeat;
}

.home-view{
    position: relative;
    background: url(./medias/img/background/mat-de-cocagne-complet.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    max-width: 700px;
}

h1{
    letter-spacing: .2em;
    font-size: x-large;
    margin-top: 2em;
    color: aliceblue;
}
.item-player1, .item-player2{
    position: absolute;
    bottom: 0;
    width: 40px;
    animation: 3s infinite alternate jump;
}

.item-player1{
    right: 0;
    animation-delay: 1s;
}

.jetonPlayer1, .jetonPlayer2{
    border-radius: 50%;
    background: red;
    opacity: 0;
    padding: 2px 10px;
    margin-left: 5px;
    transition: all ease-in-out .5s;
}

@keyframes jump {
    from{
        bottom: 0;
    }
    25%{
        bottom: 70%;
    }
    40%{
        bottom: 0;
    }
    50%{
        bottom: 50%;
    }
    60%{
        bottom: 0;
    }
    80%{
        bottom: 60%;
    }
    100%{
        bottom: 0%;
    }
}

#gameView{
    display: none;
    max-width: 700px;
}

header{
    background: rgb(145,187,229);
    text-align: center;
}
header h1{
    margin-top: 0;
    padding-top: 10px;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;
}

header ul li{
    list-style-type: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

header ul li:hover{
    color: blueviolet;
}

.game-anim{
    position: relative;
    background: url(./medias/img/background/mat-de-cocagne-complet.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    max-width: 700px;
}
.board{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 100px;
    height: 200px;
    margin-left: 20px;
}

.player1, .player2{
    position: absolute;
    bottom: -30px;
    width: 40px;
    transition: all ease-in-out .5s;
}
.player1{
    right: 0;
}

.footer{
    background: floralwhite;
}
.dice-player{
    width: 60px;
    height: 60px;
    position: absolute;
}